#tabbrowser-tabs {
  &[orient="horizontal"] {
    --tab-max-width: 180px !important;
  }
}

.tabbrowser-tab {
    &:not([pinned]) {
        max-width: 120px;
    }
}

.titlebar-buttonbox {
    display: none !important;
}

.titlebar-spacer {
    display: none !important;
}

#navigator-toolbox {
    border: 0px !important;
}

#TabsToolbar {
    margin-left: 20vw !important;
}

#nav-bar {
    background: transparent !important;
    margin-right: 80vw !important;
    margin-top: -36px !important;
}

#back-button {
    display: none !important;
}

#forward-button {
    display: none !important;
}

#tracking-protection-icon-container {
    display: none !important;
}

#urlbar-container {
    width: auto !important;
}

#urlbar {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

#urlbar[breakout-extend] {
    width: 100vw !important;
}

#page-action-buttons {
    display: none !important;
}

#PanelUI-button {
    display: none !important;
}
